import /init.recovery.teegris.rc
import /init.recovery.samsung.rc

on early-init
    mkdir /mnt/vendor/efs 0771 radio system

on init
    setprop sys.usb.configfs 1

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd

#on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
#    install_keyring

service vendor.keymint-default /vendor/bin/hw/android.hardware.security.keymint-service
    user system
    group system drmrpc
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    disabled
    seclabel u:r:recovery:s0

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user system
    group system 5678
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    disabled
    seclabel u:r:recovery:s0

on post-fs
    mkdir /mnt/vendor/efs/DAK 0775 system system
    restorecon -R /mnt/vendor/efs/DAK
    chown system system /mnt/vendor/efs/DAK/gakkeybox
    chmod 0644 /mnt/vendor/efs/DAK/gakkeybox

on post-fs-data
    mkdir /data/vendor/keymint 0775 system system
    mkdir /data/vendor/gatekeeper 0770 system system

on property:hwservicemanager.ready=true
    start vendor.keymint-default
    start vendor.gatekeeper-1-0

on property:vendor.sys.listener.registered=true
    start vendor.keymint-default
    start vendor.gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop tz_service
    stop tzts_service
    stop vendor.keymint-default
    stop vendor.gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop tz_service
    stop tzts_service
    stop vendor.kkeymint-default
    stop vendor.gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop tz_service
    stop tzts_service
    stop vendor.keymint-default
    stop vendor.gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager